<%= render "nav" %>

<div class="container">
  <h1>New Movie Page</h1>
  <% if flash[:errors_array] %>
    <% flash[:errors_array].each do |e|%>
      <p style="color: red;"><%= e %></p>
    <% end %>
  <% end %>
  <%= render "form" %>
</div>

